<h1>Edit</h1>

<%= render 'partials/edit_todo_item_form', locals: {todo_list: @todo_list, todo_item: @todo_item} %>

<%= link_to 'Show', todo_list_todo_item_path(@todo_list, @todo_item) %> |
<%= link_to 'Back', todo_list_todo_items_path %>
