$navbar-default-bg: #4671B1;
$navbar-default-link-color: #fff;


@import "bootstrap-sprockets";
@import "bootstrap";

.glyphicon {
	color: #D2D2D2
}

.list-group-item {

	&:hover{
		background: #FCFED5;
	}
}

.jumbotron{
	margin: 0px 100px;
}

#add_task_form{
	text-align:right;
}

.page-header{
	text-align:center;
}

footer{
	text-align:center;
	padding: 10px;
	font-size:1.5em;
}

